In [46]:
import pandas as pd
import plotly.graph_objects as go
import numpy as np
import glob
import os
from scipy import stats
import matplotlib.pyplot as plt

ImportError: No module named 'scipy'

In [4]:
path = "../data/"
experments = ["exp1","exp2"]
system = ["flink","spark"]
os.listdir("{}/{}/{}/".format(path, experments[1], system[0]))

['test_Nodes-2_System-flink_Test-26.csv',
 'test_Nodes-4_System-flink_Test-21.csv',
 'test_Nodes-8_System-flink_Test-3.csv',
 'test_Nodes-8_System-flink_Test-26.csv',
 'test_Nodes-4_System-flink_Test-31.csv',
 'test_Nodes-2_System-flink_Test-22.csv',
 'test_Nodes-4_System-flink_Test-22.csv',
 'test_Nodes-8_System-flink_Test-25.csv',
 'test_Nodes-4_System-flink_Test-14.csv',
 'test_Nodes-2_System-flink_Test-14.csv',
 'test_Nodes-8_System-flink_Test-8.csv',
 'test_Nodes-8_System-flink_Test-28.csv',
 'test_Nodes-4_System-flink_Test-41.csv',
 'test_Nodes-8_System-flink_Test-22.csv',
 'test_Nodes-2_System-flink_Test-27.csv',
 'test_Nodes-8_System-flink_Test-27.csv',
 'test_Nodes-4_System-flink_Test-16.csv',
 'test_Nodes-8_System-flink_Test-23.csv',
 'test_Nodes-2_System-flink_Test-10.csv',
 'test_Nodes-2_System-flink_Test-6.csv',
 'test_Nodes-4_System-flink_Test-19.csv',
 'test_Nodes-4_System-flink_Test-23.csv',
 'test_Nodes-8_System-flink_Test-14.csv',
 'test_Nodes-4_System-flink_Test-25.csv',
 'test_Nodes-4_System-flink_Test-9.csv',
 'test_Nodes-4_System-flink_Test-34.csv',
 'test_Nodes-2_System-flink_Test-15.csv',
 'test_Nodes-2_System-flink_Test-5.csv',
 'test_Nodes-2_System-flink_Test-16.csv',
 'test_Nodes-4_System-flink_Test-42.csv',
 'test_Nodes-8_System-flink_Test-9.csv',
 'test_Nodes-2_System-flink_Test-20.csv',
 'test_Nodes-8_System-flink_Test-2.csv',
 'test_Nodes-4_System-flink_Test-5.csv',
 'test_Nodes-8_System-flink_Test-1.csv',
 'test_Nodes-8_System-flink_Test-30.csv',
 'test_Nodes-2_System-flink_Test-23.csv',
 'test_Nodes-2_System-flink_Test-1.csv',
 'test_Nodes-8_System-flink_Test-13.csv',
 'test_Nodes-4_System-flink_Test-7.csv',
 'test_Nodes-4_System-flink_Test-10.csv',
 'test_Nodes-4_System-flink_Test-2.csv',
 'test_Nodes-2_System-flink_Test-9.csv',
 'test_Nodes-8_System-flink_Test-20.csv',
 'test_Nodes-8_System-flink_Test-24.csv',
 'test_Nodes-2_System-flink_Test-4.csv',
 'test_Nodes-2_System-flink_Test-0.csv',
 'test_Nodes-2_System-flink_Test-24.csv',
 'test_Nodes-4_System-flink_Test-27.csv',
 'test_Nodes-2_System-flink_Test-8.csv',
 'test_Nodes-4_System-flink_Test-15.csv',
 'test_Nodes-4_System-flink_Test-32.csv',
 'test_Nodes-2_System-flink_Test-11.csv',
 'test_Nodes-4_System-flink_Test-33.csv',
 'test_Nodes-4_System-flink_Test-43.csv',
 'test_Nodes-4_System-flink_Test-44.csv',
 'test_Nodes-8_System-flink_Test-5.csv',
 'test_Nodes-4_System-flink_Test-0.csv',
 'test_Nodes-4_System-flink_Test-4.csv',
 'test_Nodes-8_System-flink_Test-7.csv',
 'test_Nodes-8_System-flink_Test-15.csv',
 'test_Nodes-8_System-flink_Test-6.csv',
 'test_Nodes-8_System-flink_Test-4.csv',
 'test_Nodes-2_System-flink_Test-2.csv',
 'test_Nodes-2_System-flink_Test-7.csv',
 'test_Nodes-4_System-flink_Test-29.csv',
 'test_Nodes-2_System-flink_Test-18.csv',
 'test_Nodes-4_System-flink_Test-12.csv',
 'test_Nodes-4_System-flink_Test-8.csv',
 'test_Nodes-8_System-flink_Test-12.csv',
 'test_Nodes-2_System-flink_Test-19.csv',
 'test_Nodes-4_System-flink_Test-39.csv',
 'test_Nodes-8_System-flink_Test-1001.csv',
 'test_Nodes-4_System-flink_Test-11.csv',
 'test_Nodes-4_System-flink_Test-40.csv',
 'test_Nodes-4_System-flink_Test-35.csv',
 'test_Nodes-4_System-flink_Test-3.csv',
 'test_Nodes-8_System-flink_Test-32.csv',
 'test_Nodes-8_System-flink_Test-10.csv',
 'test_Nodes-4_System-flink_Test-18.csv',
 'test_Nodes-4_System-flink_Test-26.csv',
 'test_Nodes-4_System-flink_Test-20.csv',
 'test_Nodes-8_System-flink_Test-31.csv',
 'test_Nodes-2_System-flink_Test-21.csv',
 'test_Nodes-8_System-flink_Test-17.csv',
 'test_Nodes-8_System-flink_Test-29.csv',
 'test_Nodes-8_System-flink_Test-16.csv',
 'test_Nodes-4_System-flink_Test-38.csv',
 'test_Nodes-4_System-flink_Test-24.csv',
 'test_Nodes-2_System-flink_Test-17.csv',
 'test_Nodes-8_System-flink_Test-19.csv',
 'test_Nodes-4_System-flink_Test-6.csv',
 'test_Nodes-8_System-flink_Test-21.csv',
 'test_Nodes-4_System-flink_Test-30.csv',
 'test_Nodes-4_System-flink_Test-28.csv',
 'test_Nodes-4_System-flink_Test-1.csv',
 'test_Nodes-4_System-flink_Test-13.csv',
 'test_Nodes-4_System-flink_Test-36.csv',
 'test_Nodes-2_System-flink_Test-12.csv',
 'test_Nodes-2_System-flink_Test-1001.csv',
 'test_Nodes-2_System-flink_Test-25.csv',
 'test_Nodes-2_System-flink_Test-3.csv',
 'test_Nodes-4_System-flink_Test-17.csv',
 'flink',
 'test_Nodes-2_System-flink_Test-13.csv',
 'test_Nodes-8_System-flink_Test-0.csv',
 'test_Nodes-4_System-flink_Test-37.csv',
 'test_Nodes-8_System-flink_Test-18.csv',
 'test_Nodes-8_System-flink_Test-33.csv',
 'test_Nodes-8_System-flink_Test-11.csv']

In [39]:
exp1_flink = pd.concat(map(pd.read_csv, glob.glob(os.path.join(path, experments[0], system[0],"*.csv"))), ignore_index=True)
exp1_spark = pd.concat(map(pd.read_csv, glob.glob(os.path.join(path, experments[0], system[1],"*.csv"))), ignore_index=True)  
exp2_flink = pd.concat(map(pd.read_csv, glob.glob(os.path.join(path, experments[1], system[0],"*.csv"))), ignore_index=True)
exp2_spark = pd.concat(map(pd.read_csv, glob.glob(os.path.join(path, experments[1], system[1],"*.csv"))), ignore_index=True)

In [40]:
exp1_flink.rename(columns={"Unnamed: 0":"testIndex","0":"countOfEvent","1":"latencyTime","2":"NumberOfNodes","3":"TestNumber","4":"System"},inplace=True)
exp1_spark.rename(columns={"Unnamed: 0":"testIndex","0":"countOfEvent","1":"latencyTime","2":"NumberOfNodes","3":"TestNumber","4":"System"},inplace=True)
exp2_flink.rename(columns={"Unnamed: 0":"testIndex","0":"countOfEvent","1":"latencyTime","2":"NumberOfNodes","3":"TestNumber","4":"System"},inplace=True)
exp2_spark.rename(columns={"Unnamed: 0":"testIndex","0":"countOfEvent","1":"latencyTime","2":"NumberOfNodes","3":"TestNumber","4":"System"},inplace=True)

In [41]:
exp1_flink.groupby('NumberOfNodes')['latencyTime'].describe()

,count,mean,std,min,25%,50%,75%,max
NumberOfNodes,,,,,,,,
2,34100.0,10329.097038,1894.928040,487.0,10355.0,10637.0,10870.0,25271.0
4,51486.0,10118.271064,1675.411323,253.0,10255.0,10511.0,10769.0,11416.0
8,40400.0,10204.211287,1653.691489,427.0,10298.0,10644.0,10843.0,11369.0

In [42]:
exp1_spark.groupby('NumberOfNodes')['latencyTime'].describe()

,count,mean,std,min,25%,50%,75%,max
NumberOfNodes,,,,,,,,
2,33531.0,29243.770749,17539.099506,11156.0,13038.0,22583.0,44988.00,68821.0
4,62104.0,14211.018694,4062.633293,10517.0,11362.0,12115.0,15984.25,28197.0
8,68875.0,10665.424261,1355.789015,1078.0,10644.0,10841.0,11100.00,13712.0

In [44]:
exp2_flink.groupby('NumberOfNodes')['latencyTime'].describe()

,count,mean,std,min,25%,50%,75%,max
NumberOfNodes,,,,,,,,
2,41012.0,9866.224568,2078.708760,653.0,10254.0,10602.0,10815.0,11740.0
8,27600.0,9817.799457,2057.931267,439.0,10218.0,10497.0,10750.0,11709.0

In [45]:
exp2_spark.groupby('NumberOfNodes')['latencyTime'].describe()

,count,mean,std,min,25%,50%,75%,max
NumberOfNodes,,,,,,,,
2,20203.0,29139.413602,19332.481246,8420.0,12502.0,18225.0,46179.0,66463.0
4,24987.0,14350.764317,5482.340717,3240.0,11174.0,12028.0,17297.5,31786.0
8,31800.0,10519.105000,1796.317631,2737.0,10601.0,10874.0,11204.0,13595.0